@model List<ProjektDotNet.Models.User>

@{
    ViewData["Title"] = "Lista Użytkowników";
}

<h2>Lista Użytkowników</h2>

<form method="get" action="@Url.Action("Index", "Home")" class="mb-3">
    <label for="sortOrder">Sortuj według:</label>
    <select name="sortOrder" id="sortOrder" class="form-control">
        <option value="name">Nazwa użytkownika</option>
        <option value="firstname">Imię</option>
        <option value="lastname">Nazwisko</option>
        <option value="group">Grupa</option>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Sortuj</button>
</form>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nazwa użytkownika</th>
            <th>Bio</th>
            <th>Grupa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Name</td>
                <td>@user.Bio</td>
                <td>@(user.Group != null ? user.Group.Name : "Brak grupy")</td>
            </tr>
        }
    </tbody>
</table>
