@model List<ProjektDotNet.Models.User>

@{
    ViewData["Title"] = "Lista Użytkowników";
}

<h2>Lista Użytkowników</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nazwa użytkownika</th>
            <th>Bio</th>
            <th>Grupa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Name</td>
                <td>@user.Bio</td>
                <td>@(user.Group != null ? user.Group.Name : "Brak grupy")</td>
            </tr>
        }
    </tbody>
</table>
